#set($layout="/layout/blank.html")
<form class="form-horizontal" id="resourceForm" method="post">
    #if($resource)
    <div class="form-group">
        <label for="id" class="col-sm-2 control-label">ResourceID</label>

        <div class="col-sm-10">
            <input type="number" class="form-control" id="id" name="id" readonly
                   value="$!resource.id">
        </div>
    </div>
    #end
    <div class="form-group">
        <label for="code" class="col-sm-2 control-label">资源编码</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="code" name="code" value="$!resource.code">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">资源名</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" value="$!resource.name">
        </div>
    </div>
    <div class="form-group">
        <label for="url" class="col-sm-2 control-label">资源URL</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="url" name="url" value="$!resource.url">
        </div>
    </div>
    <div class="form-group">
        <label for="icon" class="col-sm-2 control-label">资源图标</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="icon" name="icon" value="$!resource.icon">
        </div>
    </div>
    <div class="form-group">
        <label for="groupId" class="col-sm-2 control-label">分组</label>

        <div class="col-sm-10">
            <select class="form-control" id="groupId" name="groupId">
                <option value="0"></option>
                #foreach($group in $dic.getResourceGroup())
                <option #if($resource.groupId== $group.id) selected="selected" #end value="$group.id">
                    $group.name
                </option>
                #end
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">类型</label>

        <div class="col-sm-10">
            <select class="form-control" id="type" name="type">
                #foreach($data in $dic.getResourceType().entrySet())
                <option #if($resource.type== $data.key) selected="selected" #end value="$data.key">
                    $data.value
                </option>
                #end
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="status" class="col-sm-2 control-label">状态</label>

        <div class="col-sm-10">
            <select class="form-control" id="status" name="status" #if($resource) readonly #end>
                #foreach($data in $dic.getStatus().entrySet())
                <option #if($resource.status== $data.key) selected="selected" #end value="$data.key">$data.value
                </option>
                #end
            </select>
        </div>
    </div>
</form>